/* You can add global styles to this file, and also import other style files */
.btn {
    display: inline-flex; 
    vertical-align: middle;
}

.btn-light {
    border: solid 1px rgb(225, 225, 225);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
